/* solve character */

.solve-character {
    -fx-fill: green;
}

/* Outer walls */
.maze-line-up,
.maze-line-down,
.maze-line-left,
.maze-line-right {
    -fx-stroke: blue;
    -fx-stroke-width: 2.5;
}

/* Inner walls */
.maze-line-up-animating,
.maze-line-right-animating,
.maze-line-down-animating,
.maze-line-left-animating {
    -fx-stroke: red;
    -fx-stroke-width: 2;
}
